@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font;
    font-size: 15px;
}

window#waybar {
    background: @background;
    color: @foreground;
}

#custom-right-arrow-dark {
    color: @background;
    background: @color8;
    font-size: 23px;
}

#custom-right-arrow-light {
    color: @color8;
    font-size: 23px;
}

#custom-left-arrow-dark {
    color: @background;
    background: @color8;
    font-size: 23px;
}

#custom-left-arrow-light {
    color: @color8;
    font-size: 23px;
}

#clock.date, #battery, #backlight, #memory, #cpu, #network, #pulseaudio, #idle_inhibitor, #tray, #disk, #custom-pacman {
    background: @background;
    padding-right: 10px;
    padding-left: 10px;
}

#custom-separator {
    color: @foreground;
}

#workspaces {
    background: @background;
}

#workspaces button {
    /*padding: 0 5px;*/
    background: transparent;
    color: @foreground;
    min-width: 50px;
}

#workspaces button:hover {
    background: @color8;
    min-width: 50px;
}

#workspaces button.focused {
    background: @color8;
    color: @color4;
    min-width: 50px;
}


#battery.charging {
    color: @color2;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
